<ul class="nav nav-pills nav-stacked">
	<li class="nav-divider"></li>
    {% if is_granted('ROLE_ADMIN') %}
    {#<li{% if app.request.get('_route') == 'admin_announcement_index' %} class="active"{% endif %}>
        <a href="{{ path('admin_announcement_index') }}">{{ 'announcement.plural'|babel }}</a>
    </li>#}
    <li class="nav-divider"></li>
    {% endif %}

    {% if is_granted("ROLE_USER") %}
	<li class="nav-header">{{ 'webshop'|babel }} &nbsp; <span class="glyphicon glyphicon-shopping-cart"></li>

	<li class="nav-divider"></li>
	<li class="nav-header">{{ 'help'|babel }}&nbsp; <span class="glyphicon glyphicon-eye-open"></li>

	<li class="nav-divider"></li>

    {% endif %}
</ul>