{% extends '::base.html.twig' %}

{% block title %}{{ 'user.announcement.management.new.title'|babel }}{% endblock %}

{% block body %}

<form action="{{ url('acacia_user_announcement_management_save') }}" method="post">

    {{ form_widget(form) }}
    <input type="submit" value="{{ 'commons.save'|babel }}" />

</form>


{% endblock %}
