{% extends '::base.html.twig' %}

{% block unlogged_body %}

    <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('/bundles/hyperrealacacia/img/background-slide-3.jpg');"></div>
                <div class="carousel-caption">
                    <h3><b><i><span class="step size-18"><i class="icon ion-flask"></i></span> Menu</i></b></h3>
		    <p>Dział ogłoszeń drobnych <b><i><span class="step size-18"><i class="icon ion-flask"></i></span> Menu</i></b> to miejsce, w którym poznają się dwie strony jednej planety. Ziemi.</p>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/bundles/hyperrealacacia/img/background-slide-4.jpg');"></div>
                <div class="carousel-caption">
                    <h3><i class="icon ion-ios7-partlysunny-outline"></i> Bezpieczeństwo</h3>
		    <p>Polski rząd robi wszystko, aby środki psychoaktywne były niebezpieczne i ryzykowne dla zdrowia. My działamy odwrotnie, staramy się uczynić nasze życie normalnym.</p>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/bundles/hyperrealacacia/img/background-slide-6.jpg');"></div>
                <div class="carousel-caption">
                    <h3>Czemu warto korzystać z <b><i><span class="step size-18"><i class="icon ion-flask"></i></span> Menu?</i></b></h3>
		    <p>W naszym serwisie ogłoszeń drobnych <b><i><span class="step size-18"><i class="icon ion-flask"></i></span> Menu</i></b> najważniejsze jest bezpieczeństwo użytkownika. Wszyscy sprzedawcy weryfikowani są przez was. A w szczególności:</p>
				<p><span class="step size-18"><i class="icon ionicons ion-arrow-right-c"></i></span> Macie możliwość dyskusji każdej z ofert</p>
				<p><span class="step size-18"><i class="icon ionicons ion-arrow-right-c"></i></span> Macie możliwość zgłoszenia oferty nielegalnej</p>
				<p><span class="step size-18"><i class="icon ionicons ion-arrow-right-c"></i></span> Możecie przyznawać punkty dodatnie i ujemne ofertom, wyrażając swoje własne doświadczenia</p>
				<p><span class="step size-18"><i class="icon ionicons ion-arrow-right-c"></i></span> Serwis znajduje się w Szwajcarii, jest hostowany zupełnie niezależnie od pozostałych części [H]yperreala</p>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/bundles/hyperrealacacia/img/background-slide-5.jpg');"></div>
                <div class="carousel-caption">
                    <h3>W jaki sposób skorzystać z <b><i><span class="step size-18"><i class="icon ion-flask"></i></span> Menu?</i></b></h3>
		    <p>Serwis <b><i><span class="step size-18"><i class="icon ion-flask"></i></span> Menu</i></b> przeznaczony jest wyłącznie dla naszej społeczności. Aby z niego skorzystać, musisz wcześniej <a href="http://hyperreal.info/talk/ucp.php?mode=login">zarejestrować się na [H]yperrealu</a>. Po zarejestrowaniu, używasz tego samego hasła i identyfikatora.</p>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>

    <div class="main-text hidden-xs">
        <div class="col-md-12 text-center">
           <h1><b><i><span class="step size-18"><i class="icon ion-flask"></i></span> Menu [H]yperreala</i></b></h1>
           <div class="">
		<p>
		<br/>
		<a class="btn btn-clear btn-sm btn-min-block" href="/login"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Zaloguj się</a>
	      	<a class="btn btn-clear btn-sm btn-min-block" href="http://hyperreal.info/talk/ucp.php?mode=login"><span class="glyphicon glyphicon-user"></span>&nbsp;Zarejestruj się na [H]yperrealu</a>
		</p>
           </div>
         </div>
     </div>

    <div class="container">
	<div class="row section">
		<div class="col-lg-12">

        <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-body">
			<h3>Regulamin serwisu ogłoszeń drobnych i zastrzeżenia prawne</h3>

    <ol class="list-group">
	<li class="list-group-item"><strong>Wszystkie produkty i usługi oferowane w serwisie <em>hyperreal.menu</em> muszą być całkowicie legalne. Serwis ten nie ma nic wspólnego ze sławnym <em>Silk Road</em>, nie można tutaj dokonywać żadnych transakcji niezgodnych z prawem.</strong></li>
        <li class="list-group-item"><strong>Za każde ogłoszenie drobne zamieszczone na</strong> <em>hyperreal.menu</em> <strong>odpowiada wyłącznie ogłoszeniodawca</strong>. Publikacja ogłoszeń odbywa się automatycznie, bez wiedzy i akceptacji serwisu <em>hyperreal.menu</em>.</li>
        <li class="list-group-item">Serwery <em>hyperreal.menu</em> są ulokowane poza terytorium Polski. Jednakże używając ich, podlegasz prawu kraju, w którym fizycznie się znajdujesz.</li>
        <li class="list-group-item"><em>Hyperreal.menu</em> nie przechowuje logów serwerów, jedyną informacją jaką dysponujemy, jest adres email podany podczas zakładania konta. W przypadku pisemnego żądania organów upoważnionych (prokuratura lub sąd), nie zawahamy się przed podaniem tego adresu.</li>
        <li class="list-group-item">Wszystkie transakcje przeprowadzane są za pomocą Bitcoinów (BTC), które zapewniają wysoki poziom anonimowości i nie podlegają instytucjom bankowym.</li>
        <li class="list-group-item"><em>Hyperreal.menu</em> gwarantuje sobie niepodważalne prawo do usunięcia dowolnego ogłoszenia w dowolnym momencie, bez zwrotu BTC. Zobowiązujemy się jednakże do użycia tego prawa wyłącznie w drastycznych przypadkach.</li>
        <li class="list-group-item"><em>Hyperreal.menu</em> dokłada wszelkich starań, aby ogłoszenia wyświetlane były 24 godziny na dobę, 365 dni w tygodniu, jednakże nie dajemy na to żadnych gwarancji.</li>
        <li class="list-group-item">Serwis przeznaczony jest wyłącznie dla osób pełnoletnich i dojrzałych. Korzystając z niego należy zdawać sobie sprawę z całkowitej odpowiedzialności za swoje czyny i potencjalnego ryzyka. Wszelkie informacje zawarte na łamach naszego serwisu powinny być wykorzystane wyłącznie w celach edukacyjno-naukowych.</li>
        <li class="list-group-item">Korzystając z serwisu <em>hyperreal.menu</em>, akceptujesz bez uwag niniejszy regulamin i zobowiązujesz się zapoznawać się regularnie z jego ewentualnymi zmianami. W przypadku braku akceptacji zmian w regulaminie, <strong>natychmiast</strong> skasuj wszystkie zamieszczone przez siebie ogłoszenia i zaprzestań używania serwisu.</li>
        <li class="list-group-item">Serwis <em>hyperreal.menu</em> jest przedsięwzięciem niekomercyjnym. Administratorzy serwisu nie czerpią korzyści materialnych lub niematerialnych z tytułu utrzymywania tegoż serwisu. Wszelkie prace wykonywane są nieodpłatnie, niewielki koszt zamieszczania ogłoszeń pokrywa wyłącznie opłaty za serwery i służy automatycznemu utrzymywaniu porządku w serwisie.</li>
	<li class="list-group-item">Linki, czyli odnośniki umieszczone na stronach hyperreal.menu do innych witryn internetowych są umieszczane wyłącznie w celu zapewnienia wygody użytkownikom. Redaktorzy serwisu nie maja wpływu na treści publikowane na zewnętrznych serwerach, dlatego nie mogą ponosić odpowiedzialności za umieszczone na nich treści i dane.</li>
        <li class="list-group-item">Przyjmujesz do wiadomości, że używamy cookies.</li>
        <li class="list-group-item"><strong>Najważniejszy dla nas jest zadowolony klient.</strong> Jeśli masz jakiekolwiek uwagi, napisz do nas niezwłocznie: <a class="mail-link" href="mailto:reklama@hyperreal.biz">reklama@hyperreal.biz</a>.</li>
    </ol>

	</div>
	</div>

		</div>
	</div>
   </div>

<script type="text/javascript" src="{{ asset('bundles/hyperrealacacia/js/full-intro.js') }}"></script>

{% endblock %}

