parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     acacia
    database_user:     acacia
    database_password: acacia

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # check whether in vendor/stephanecollor/datetimepicker-bundle/SC/DatetimepickerBundle/Resources/public/js/locales
    # exists file matching this locale
    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    acacia_default_page_title: Page title

    password_encoder: sha512